header {
    position: sticky;
    top: 0px;
    border : 2px solid;
    border-bottom : 2px dashed;
    background-color:lightgray;
    z-index:1;
    padding: 5px;
    }

main {
    min-height : 545px;
    bottom: 8px;
    padding-left : 200px;
    padding-bottom : 8px;   
    border : 2px solid;
    border-top : none;
    border-bottom : none;
    background-color:gray;  
    padding-top : 30px;
}

footer {
    bottom : 0px;
    border : 2px solid;
    border-top : 2px solid;
    background-color:lightgray;
    position : sticky;
    width:99.7%;
    text-align : center;
    }

nav {
    width:200px;
    height:100%;
    background-color:lightgray;
    float: left;
    border-left : 2px solid;
    border-right : 2px dashed;
    position : fixed;
}
nav article
{
    margin-top : 50px;
    margin-left : 10px;
}

nav ul{
    padding-left : 20px ;
}

nav li{
    list-style-type: '-';
}

.svg{
    width:20px;
    height:20px;
}

#search
{
   float: right;
}

#login
{
   float: right;
}

main article
{
    min-height: 700px;
}

main article span
{
    display: inline-block;
    vertical-align: top;
    margin-top : 20px;
    margin-left: 30px;
    width: 260px;
    min-height: 400px;
    max-height: 400px;
    background-color:rgb(255, 255, 255);
}

article p
{
    text-align: center;
}

main ul 
{
    margin-top : 0px;
}

main li{
    list-style: inside;
}